
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="~/Scripts/logout.js"></script>
    <script type="text/javascript" src="~/Scripts/Cookie.js"></script>
    <title>Logout</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
